
body {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: beige;
}

ul {
    list-style-type: none;
}

#intro {
    text-align: center;
}


.options {
    display: inline-block;
    margin-left: 90%;
}


button {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;

}

#postButton {
    background-color: cadetblue;
}

#signInButton {
    background-color: #4CAF50;
}

#signOutButton {
    background-color: red;
}

.post-description {
    background-color: white;
}




#greeting {
    color: green;
}

.food {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: auto;
}


footer {
    background: #d6d6d6;
    position: absolute;
    height: 80px;
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
}

.post {
    padding: 10px;
    margin: 20px;
    background-color: cadetblue;
    max-width: 200px;
    border-color: #4CAF50;
}

.post-firm {
    font-size: 1.5em;
}

.post-title {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-width: thin;
    text-align: center;
}


