<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>front-page</title>
    <link href="frontPage.css" rel="stylesheet">
</head>
<body>

<nav>
    <a href="/">Hjem</a>
    <a href="/">Om os</a>
    <div class="options" th:if="${session.user != null}">

        <form class="signOut" action="/sign-out" method="get">
            <button type="submit" class="firmSignOut" id="signOutButton"> Log out </button>
        </form>

        <form class="postOfferForm" action="/upload-post" method="get">
            <button type="submit" class="postOffer" id="postButton"> Post offer </button>
        </form>
    </div>

    <div class="options" th:unless="${session.user != null}">
        <form class="signIn" action="/sign-in" method="get">
            <button type="submit" class="firmSignIn" id="signInButton"> Log in </button>
        </form>
    </div>

</nav>

<main>

    <div id="intro">
        <h1 id="greeting"> Velkommen </h1>
        <h2> Få billig mad her </h2>

        <h3> Madspild er fortsat et stort problem i Danmark. Vi forsøger
            her at blive Danmarks største bevægelse mod madspild målt på antal af gennemførte aktiviteter. Vi vil gøre en forskel!</h3>

    </div>

    <img class="food" src="https://csr.dk/sites/default/files/styles/2400px/public/116433646_l.jpg?itok=Di7Lu0YQ"
         alt="Picture of food">


    <ul th:each="post : ${posts}">
        <li>
            <div class="post">
                <h1 class="post-title" th:text="${post.title}"></h1>
                <span class="post-description" th:text="${post.description}"></span><br>
                <span class="post-firm" th:text="${post.firm}"></span><br>
                <span class="post-address" th:text="${post.address}"></span><br>
            </div>
        </li>
    </ul>


</main>
</body>

            <footer>
                       <p class="Information"> Contact: foodwaste@gmail.com </p>
                       <p2 class="copyright">&copy; 2017–2021</p2>
            </footer>

</html>
