<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>front-page</title>
    <link href="frontPage.css" rel="stylesheet">
</head>
<body>

<main>
    <div th:if="${session.user != null}">
        <p>User is signed in</p>
        <form class="signOut" action="/sign-out" method="get">
            <label for="signOutButton"> Post food offer here </label>
            <button type="submit" class="firmSignOut" id="signOutButton"> Log out </button>
        </form>
    </div>

    <div th:unless="${session.user != null}">
        <p>User is not signed in</p>
        <form class="signIn" action="/sign-in" method="get">
            <label for="signInButton"> Post food offer here </label>
            <button type="submit" class="firmSignIn" id="signInButton"> Log in </button>
        </form>
    </div>




    <h1 id="greeting"> Welcome </h1>
    <h2> Get your food cheaper and quicker</h2>

    <img class="food" src="https://csr.dk/sites/default/files/styles/2400px/public/116433646_l.jpg?itok=Di7Lu0YQ"
         alt="Picture of food">


    <ul th:each="post : ${posts}">
        <li>
            <div class="post">
                <h1 class="post-title" th:text="${post.title}"></h1>
                <span class="post-description" th:text="${post.description}"></span><br>
                <span class="post-firm" th:text="${post.firm}"></span><br>
                <span class="post-address" th:text="${post.address}"></span><br>
            </div>
        </li>
    </ul>


</main>
</body>

            <footer>
                       <p class="Information"> Contact: foodwaste@gmail.com </p>
                       <p2 class="copyright">&copy; 2017–2021</p2>
            </footer>

</html>
