<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Sign in page</title>

    <link href="../static/signin.css" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-signin">

    <img class="food" src="https://csr.dk/sites/default/files/styles/2400px/public/116433646_l.jpg?itok=Di7Lu0YQ"
         alt="Picture of food">

    <form action="HVOR SKAL DEN LINKE TIL?" method="post">
        <h1>Please sign in</h1>
        <label for="inputEmail" class="email-input">Email address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="password-input">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="signIn" type="submit">Sign in</button>
        <p class="copyright">&copy; 2017–2021</p>
    </form>

</main>


</body>
</html>
