<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Sign in page</title>

    <link href="signin.css" rel="stylesheet">
</head>
<body>

<main class="form-signin">

    <img class="food" src="https://csr.dk/sites/default/files/styles/2400px/public/116433646_l.jpg?itok=Di7Lu0YQ"
         alt="Picture of food">

    <form action="/process-sign-in" method="post">
        <h1>Log ind</h1>
        <label for="inputEmail" class="email-input">Email</label><br>
        <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email addresse" required>
        <label for="inputPassword" class="password-input">Adgangskode</label>
        <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="Adgangskode"
               required>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Husk mig
            </label>
        </div>
        <button class="signIn" type="submit">Log ind</button>

    </form>

</main>

</body>

    <footer>
        <p class="Information"> Contact: foodwaste@gmail.com</p>
        <p2 class="copyright">&copy; 2017–2021</p2>
    </footer>
</html>
