<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload post</title>
</head>
<body>
<form action="upload-post" method="post">
    <label for="title">Titel</label><br>
    <input type="text" name="title" id="title" placeholder="Skriv en sigende titel her" required><br>

    <label for="description">Beskrivelse</label><br>
    <textarea name="description" id="description" cols="30" rows="10" placeholder="Uddybende information om tilbuddet"></textarea>

    <label for="address">Butik addresse</label><br>
    <input type="text" name="address" id="address" placeholder="Hvor jeres butik er lokaliseret" required><br>

    <input type="radio" id="fruit" name="food-type" value="fruit and vegetables">
    <label for="fruit">Frugt og grønt</label><br>

    <input type="radio" id="meat" name="food-type" value="meat">
    <label for="meat">Kød</label><br>

    <input type="radio" id="ready-made" name="food-type" value="ready-made">
    <label for="ready-made">Færdigret</label><br>

    <input type="radio" id="fish" name="food-type" value="fish">
    <label for="fish">Fisk</label><br>

    <button type="submit">Upload tilbud</button>
</form>
</body>
</html>